*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

main, section{
    width: fit-content;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}




.heading{
    text-transform: uppercase;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 20px;
    font-weight: 700;
    font-size: 30px;

}

#difficulty-select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    appearance: none; /* Removes default browser styling */
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s;
}

/* Styling options */
#difficulty-select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
    
}

/* Styling when select is focused */
#difficulty-select:focus {
    border-color: #888;
}


button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a044;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Optional: Custom arrow for the select dropdown */






